build*/
docs/
install/
libraries/boost_1_56_0/
libraries/boost-setup/
libraries/Eigen-3.2.2/
libraries/glew-1.12.0/
libraries/opencv*/
libraries/SDL2-2.0.3/
libraries/vicon/
libraries/*.log
*.tags
tags
tests/mike/
*.swp
